@charset "UTF-8";
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.wrapper {
  height: 100%; }

.container {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: no-repeat center;
  background-size: cover;
  position: relative; }
  .section__title {
    font-family: Gagalin, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
    .section__title--orange {
      font-family: Gagalin, Helvetica, sans-serif;
      color: #f9b43b;
      font-size: 72px;
      margin-bottom: 40px;
      text-transform: uppercase; }
    .section__title--black {
      color: #2f3234;
      text-transform: uppercase;
      font-size: 72px;
      line-height: 64px;
      height: 100px;
      margin-bottom: 50px; }

.button {
  min-width: 6.125rem;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 0.8125rem 1rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .button_action_order {
    background-color: #e45028; }
    .button_action_order:hover {
      background-color: #c13c18; }
  .button_color_black {
    background-color: #2f3234; }
    .button_color_black:hover {
      background-color: #171819; }

/* ПРИВЕТСТВИЕ */
.welcome {
  background-image: url("../img/bg/bg-pic.png"), url("../img/bg/bg-texture.png");
  background-color: #2f3234; }
  .welcome__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px; }
  .welcome__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }

/* HEADER */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navigation__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ffffff;
    margin: 0 12px; }
  .navigation__item:last-child:after {
    display: none; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    margin-left: 0.9375rem; }
  .navigation .button {
    margin-left: 0.9375rem; }

.navigation__link {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase; }

.company-logotype {
  margin-right: auto; }

.logo {
  display: block;
  width: 92px;
  height: 69px; }
  .logo__img {
    min-width: 100%;
    min-height: 100%; }

.welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .welcome-content__burger {
    width: 50%; }
  .welcome-content__inscription {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 11px; }
  .welcome-content__description {
    font-family: Lifehack, Helvetica, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 65px;
    line-height: 60px; }

.burger__img {
  max-width: 100%;
  max-height: 100%; }

/* ARROW */
.arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .arrow__scroll {
    width: 29px;
    height: 14px; }

.scroll__img {
  min-width: 100%;
  min-height: 100%; }

/* МЫ ЛУЧШИЕ */
.advantages {
  background-image: url("../img/bg/bg-we.png"); }
  .advantages__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }

.advantages .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px; }

.advantage__img {
  margin-bottom: 30px; }

.advantage__title {
  font-family: Lifehack, Helvetica, sans-serif;
  color: #2f3234;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.6px;
  text-align: center;
  margin-bottom: 20px; }

.advantage__text {
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }

/*ОТЗЫВЫ*/
.reviews {
  background-color: #cfd8dc; }
  .reviews__list {
    min-height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .reviews__item {
    width: 25%;
    height: 50%;
    overflow: hidden; }

.review {
  width: 100%;
  height: 100%;
  position: relative; }
  .review__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50%;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .review__hover {
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background: rgba(28, 28, 28, 0.77);
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px; }
  .review_name {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .1em; }

.review__text {
  color: #ffffff;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 15px; }

.review:hover .review__hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

/*БОКОВАЯ ПАНЕЛЬ*/
.fixed_nav {
  position: fixed;
  top: 90px;
  right: 40px;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */