@charset "UTF-8";
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.wrapper {
  height: 100%; }

.container {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  .section__title {
    font-family: Gagalin, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 72px; }
    .section__title--orange {
      color: #f9b43b; }
    .section__title--black {
      color: #2f3234; }
    .section__title--white {
      color: white; }

.button {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 0.8125rem 1rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .button_action_order {
    background-color: #e45028; }
    .button_action_order:hover {
      background-color: #c13c18; }
  .button_color_black {
    background-color: #2f3234; }
    .button_color_black:hover {
      background-color: #171819; }

/* ПРИВЕТСТВИЕ */
.welcome {
  background-image: url("../img/bg/bg-pic.png"), url("../img/bg/bg-texture.png");
  background-color: black; }
  .welcome__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .welcome__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }

/* HEADER */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navigation__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ffffff;
    margin: 0 12px; }
  .navigation__item:last-child:after {
    display: none; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navigation__link {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase; }
  .navigation__btn {
    margin-left: 0.9375rem; }

.logo {
  display: block;
  width: 92px;
  height: 69px; }
  .logo__img {
    min-width: 100%;
    min-height: 100%; }

.welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .welcome-content__burger {
    width: 50%; }
  .welcome-content__inscription {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .welcome-content__description {
    font-family: Lifehack, Helvetica, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 65px;
    line-height: 60px;
    margin-top: 20px; }

.burger__img {
  max-width: 100%;
  max-height: 100%; }

/* ARROW */
.arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .arrow__scroll {
    width: 29px;
    height: 14px; }

.scroll__img {
  min-width: 100%;
  max-height: 100%; }

/* МЫ ЛУЧШИЕ */
.advantages {
  background-image: url("../img/bg/bg-we.png"); }
  .advantages .section__title {
    margin-bottom: 55px; }
  .advantages .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .advantages__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px; }
  .advantages__item {
    margin-left: 20px;
    margin-bottom: 20px; }

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .advantage__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 30px; }
  .advantage__img {
    min-width: 100%;
    max-height: 100%; }
  .advantage__title {
    font-family: Lifehack, Helvetica, sans-serif;
    color: #2f3234;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.6px;
    text-align: center;
    margin-bottom: 20px; }
  .advantage__description {
    opacity: 0.8;
    color: #2f3234;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; }

.team {
  background-image: url(../img/bg/bg-team.jpg);
  background-color: #c0afaa; }
  .team__block {
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(47, 50, 52, 0.91);
    padding-left: 98px;
    padding-right: 95px;
    padding-top: 113px; }

.team-accordeon {
  margin-top: 55px; }
  .team-accordeon__item {
    margin-bottom: 35px;
    list-style-image: url(../icons/polygon.svg);
    position: relative; }
  .team-accordeon__trigger {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease; }
  .team-accordeon__content-wrapper {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .team-accordeon__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid rgba(44, 255, 224, 0.85); }
  .team-accordeon__avatar {
    width: 100px;
    height: 100px; }
  .team-accordeon__avatar-img {
    min-width: 100%;
    max-height: 100%;
    border-radius: 50%; }
  .team-accordeon__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 21px;
    width: 230px; }
  .team-accordeon__title {
    font-weight: 700;
    margin-bottom: 15px; }
  .team-accordeon__description {
    font-weight: 300;
    line-height: 24px; }

.team-accordeon__trigger:hover {
  color: #f9b43b;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.team-accordeon__trigger:hover .accordeon__content-wrapper {
  background-color: rgba(199, 21, 133, 0.58);
  height: 100px; }

.team-accordeon__trigger:before {
  content: ' ';
  vertical-align: baseline;
  width: 0;
  height: 0;
  margin-right: 10px; }

.team-accordeon__trigger, .team-accordeon__trigger:before {
  display: inline-block;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out; }

/*ОТЗЫВЫ*/
.reviews {
  background-color: #cfd8dc; }
  .reviews__list {
    min-height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .reviews__item {
    width: 25%;
    height: 50%;
    overflow: hidden; }

.review {
  width: 100%;
  height: 100%;
  position: relative; }
  .review__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50%;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .review__hover {
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background: rgba(28, 28, 28, 0.77);
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px; }
  .review__name {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .1em; }
  .review__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px; }

.review:hover .review__hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.menu {
  background-image: url(../img/bg/bg-menu.jpg);
  background-color: #b5babd; }
  .menu__title {
    margin-top: 112px;
    margin-left: 94px;
    position: absolute;
    left: 0; }
  .menu__accordeon {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__item {
    height: 100%;
    position: relative;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #2f3234; }
  .menu__item-formeat {
    background-image: url("../img/content/formeat.png"); }
  .menu__item-forveg {
    background-image: url("../img/content/forveg.png"); }
  .menu__item-fordiet {
    background-image: url("../img/content/fordiet.png"); }
  .menu__link {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 80px;
    z-index: 20;
    cursor: pointer;
    position: absolute;
    width: 500px;
    top: 90%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    transform-origin: left top 0; }
  .menu__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
    width: 0;
    z-index: 10;
    position: relative;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2f3234; }

.menu__input {
  display: none; }

.menu__link {
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.menu__link:hover {
  color: #f9b43b;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.contacts {
  background-image: url("../img/content/map.png"); }
  .contacts__footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    min-width: 100%;
    background-image: url("../img/content/footer-texture.png");
    background-size: cover; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  .footer-content__info {
    width: 50%;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: 14px; }
  .footer-content__address {
    color: #ffffff;
    font-weight: 300;
    line-height: 24px; }
  .footer-content__tel {
    font-weight: 700;
    color: #e45028; }
  .footer-content__soc {
    width: 50%;
    text-align: right;
    color: white; }

/*БОКОВАЯ ПАНЕЛЬ*/
.fixed_nav {
  position: fixed;
  top: 90px;
  right: 40px;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */