@charset "UTF-8";
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 0.07143rem;
  margin: -0.07143rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.07143rem;
  white-space: nowrap; }

input {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0; }

input:focus, a:focus, button:focus {
  outline: none; }

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.container {
  margin: 0 auto;
  max-width: 67.14286rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 98%;
      min-height: 38.85714rem; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 98%;
      min-height: 38.85714rem; } }

.maincontent {
  height: 100%;
  min-height: 46.42857rem; }

.section {
  height: 100vh;
  min-height: 46.42857rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 480px) {
    .section {
      min-width: 22.85714rem; } }
  .section__title {
    font-family: Gagalin, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 5.14286rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .section__title--orange {
      color: #f9b43b; }
    .section__title--black {
      color: #2f3234; }
    .section__title--white {
      color: white; }
    .section__title--center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
    @media screen and (max-width: 768px) {
      .section__title {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 4.57143rem; } }
    @media screen and (max-width: 480px) {
      .section__title {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 3.57143rem; } }

.button {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.92857rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.21429rem;
  padding: 0.92857rem 1.14286rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .button {
      padding: 0.85714rem 1.07143rem;
      font-size: 0.85714rem; } }
  .button_action_order {
    background-color: #e45028; }
    .button_action_order:hover {
      background-color: #c13c18; }
  .button_color_black {
    background-color: #2f3234; }
    .button_color_black:hover {
      background-color: #171819; }

.footer-content__soc--icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.42857rem;
  fill: #5b5b5b;
  width: 1.42857rem;
  height: 1.42857rem; }
  .footer-content__soc--icon:hover {
    fill: #ffff; }
  .footer-content__soc--icon:first-child {
    margin-left: 0; }

.icon-best {
  min-width: 100%;
  max-height: 100%; }
  .icon-best__meat {
    fill: #e45028; }
  .icon-best__hand {
    fill: #f9b43b; }
  .icon-best__natural {
    fill: #8ac03e; }

.welcome {
  background-image: url("../img/bg/bg-pic.png"), url("../img/bg/bg-texture.png");
  background-color: black; }
  .welcome__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.71429rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 80px; }
    @media screen and (max-width: 768px) {
      .welcome__header {
        height: 40px; } }
  .welcome__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }

@media screen and (max-width: 768px) {
  .container--tab {
    min-width: 100%;
    height: 100%;
    position: absolute; } }

@media screen and (max-width: 768px) {
  .section--tab {
    position: relative; } }

.nav-x {
  display: none; }
  @media screen and (max-width: 768px) {
    .nav-x {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 2.21429rem 1.35714rem;
      z-index: 4; } }

/* HEADER */
@media screen and (max-width: 768px) {
  .nav--tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: -100%;
    top: 0; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .nav {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 100%;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .nav__list {
        min-width: 100%;
        min-height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: rgba(48, 51, 53, 0.98);
        z-index: 2; } }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.35714rem;
    height: 0.35714rem;
    border-radius: 0.17857rem;
    background-color: #ffffff; }
  .nav__item:last-child:after {
    display: none; }
  @media screen and (max-width: 768px) {
    .nav__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav__item:after {
        display: block;
        text-align: center;
        content: ' ';
        width: 0.42857rem;
        height: 0.42857rem;
        border-radius: 0.21429rem;
        background-color: #ffffff;
        margin: 2rem 0; }
      .nav__item:last-child:after {
        display: none; } }
  .nav__link {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 0.92857rem;
    font-weight: 400;
    line-height: 2.14286rem;
    text-transform: uppercase;
    margin: 0 0.85714rem; }

.nav-btn {
  margin-left: 1.07143rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .nav-btn {
      margin-top: 2.85714rem; } }

.hamb-menu {
  margin: 1.78571rem 1.42857rem 0 2.14286rem; }
  .hamb-menu__link {
    width: 1.78571rem;
    height: 1.78571rem;
    display: block; }
  .hamb-menu__img {
    max-width: 100%; }
  @media screen and (min-width: 769px) {
    .hamb-menu {
      display: none; } }
  @media screen and (max-width: 768px) {
    .hamb-menu {
      display: inline-block; } }

.logo {
  display: block;
  width: 6.57143rem;
  height: 4.92857rem;
  z-index: 4;
  position: absolute;
  left: 0; }
  @media screen and (max-width: 768px) {
    .logo {
      margin: 0.85714rem 1.35714rem; } }
  .logo__img {
    max-width: 100%;
    min-height: 100%; }

.welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .welcome-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .welcome-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .welcome-content__burger {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .welcome-content__burger {
        width: 60%;
        height: auto;
        margin-bottom: 1.42857rem; } }
    @media screen and (max-width: 480px) {
      .welcome-content__burger {
        width: 80%;
        height: auto;
        margin-bottom: 1.07143rem; } }
  .welcome-content__insc {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .welcome-content__insc {
        width: 100%; } }
    @media screen and (max-width: 480px) {
      .welcome-content__insc {
        width: 100%; }
        .welcome-content__insc .section__title {
          font-size: 3.85714rem; } }
  .welcome-content__desc {
    font-family: Lifehack, Helvetica, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 4.64286rem;
    line-height: 4.28571rem;
    margin-top: 1.42857rem; }
    @media screen and (max-width: 768px) {
      .welcome-content__desc {
        margin-top: 1.07143rem;
        text-align: center;
        font-size: 3.92857rem; } }
    @media screen and (max-width: 480px) {
      .welcome-content__desc {
        margin-top: 0.71429rem;
        text-align: center;
        font-size: 3.21429rem; } }

.burger__img {
  max-width: 100%;
  max-height: 100%; }

/* ARROW */
.arrow {
  position: absolute;
  bottom: 2.85714rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .arrow__scroll {
    width: 2.07143rem;
    height: 1rem; }

.scroll__img {
  min-width: 100%;
  max-height: 100%; }

/* МЫ ЛУЧШИЕ */
.best {
  background-image: url("../img/bg/bg-we.png"); }
  @media screen and (max-width: 768px) {
    .best {
      background-image: url("../img/bg/bg-best/bg-best-tablet.png"); } }
  @media screen and (max-width: 480px) {
    .best {
      background-image: url("../img/bg/bg-best/bg-best.png"); } }
  .best .section__title {
    margin-bottom: 1.78571rem; }
  .best .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .best__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .best__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -1.42857rem; }
    @media screen and (max-width: 768px) {
      .best__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media screen and (max-width: 480px) {
      .best__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0; } }
  .best__item {
    margin-left: 1.42857rem;
    margin-bottom: 1.42857rem;
    width: 60%; }
    @media screen and (max-width: 768px) {
      .best__item {
        width: 30%; } }
    @media screen and (max-width: 480px) {
      .best__item {
        width: 100%;
        margin-left: 0; } }

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .advantage {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .advantage__icon {
    width: 7.14286rem;
    height: 7.14286rem;
    margin-bottom: 2.14286rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .advantage__info {
    text-align: center; }
    @media screen and (max-width: 480px) {
      .advantage__info {
        text-align: left;
        margin-left: 2rem; } }
  .advantage__title {
    font-family: Lifehack, Helvetica, sans-serif;
    color: #2f3234;
    font-weight: 300;
    font-size: 1.71429rem;
    line-height: 1.71429rem;
    letter-spacing: -0.04286rem;
    margin-bottom: 7%; }
  .advantage__desc {
    opacity: 0.8;
    color: #2f3234;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.71429rem; }

.slider {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  .slider__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 72.14286rem;
    width: 90%; }
    @media screen and (max-width: 768px) {
      .slider__container {
        max-width: 48.92857rem;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0.35714rem 0; } }
    @media screen and (max-width: 480px) {
      .slider__container {
        width: 98%; } }
  .slider__arrow {
    position: absolute;
    top: 50%; }
    .slider__arrow--left {
      left: -5%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      width: 1.92857rem;
      height: 1.07143rem; }
    .slider__arrow--right {
      right: -5%;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 1.92857rem;
      height: 1.07143rem; }
    .slider__arrow--icon {
      width: 1.92857rem;
      height: 1.07143rem;
      fill: white;
      cursor: pointer; }
  .slider__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 34.28571rem;
    position: relative; }
    @media screen and (max-width: 768px) {
      .slider__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 33.57143rem;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media screen and (max-width: 480px) {
      .slider__content {
        max-height: 100%;
        width: 90%; } }
  .slider__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    will-change: right;
    -webkit-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s; }
    @media screen and (max-width: 768px) {
      .slider__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    min-height: 34.28571rem; }
    @media screen and (max-width: 768px) {
      .slider__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .slider__burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .slider__burger {
        height: 50%; } }
    @media screen and (max-width: 480px) {
      .slider__burger {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; } }
    .slider__burger--pic {
      width: 32.85714rem;
      height: 22.85714rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media screen and (max-width: 768px) {
        .slider__burger--pic {
          max-width: 28.92857rem;
          width: 90%;
          max-height: 18.57143rem;
          margin-top: 20%; } }
      @media screen and (max-width: 480px) {
        .slider__burger--pic {
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end; } }
    .slider__burger--img {
      max-width: 100%;
      max-height: 100%; }
  .slider__descrip {
    margin-left: 1.42857rem; }
    @media screen and (max-width: 768px) {
      .slider__descrip {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 2.85714rem; } }
    @media screen and (max-width: 480px) {
      .slider__descrip {
        margin-top: 5%; } }
    .slider__descrip p {
      margin-top: 3.92857rem;
      margin-bottom: 2.5rem;
      font-family: 'Ubuntu', Helvetica, sans-serif;
      font-size: 1rem;
      color: white;
      font-weight: 300;
      line-height: 1.71429rem;
      max-width: 31.42857rem; }
      @media screen and (max-width: 768px) {
        .slider__descrip p {
          margin: 2.57143rem auto 1.85714rem auto;
          max-width: 31.42857rem; } }
      @media screen and (max-width: 480px) {
        .slider__descrip p {
          margin-top: 5%;
          margin-bottom: 3%;
          font-size: 0.92857rem; } }
    .slider__descrip--price {
      font-family: 'Gagalin', Helvetica, sans-serif;
      font-size: 2.14286rem;
      font-weight: 400;
      color: #e45028;
      letter-spacing: -0.05357rem;
      display: inline-block;
      margin-right: 2.14286rem;
      max-width: 31.78571rem; }
      @media screen and (max-width: 768px) {
        .slider__descrip--price {
          margin-right: 0.71429rem; } }
      .slider__descrip--price span {
        font-size: 5.14286rem;
        letter-spacing: -0.12786rem; }
        @media screen and (max-width: 768px) {
          .slider__descrip--price span {
            font-size: 3.57143rem; } }

.section__title--closely {
  font-weight: 400;
  line-height: 4.57143rem; }
  @media screen and (max-width: 768px) {
    .section__title--closely {
      text-align: center;
      margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .section__title--closely {
      font-size: 3.57143rem;
      line-height: 3.57143rem; } }

.compos__btn:hover ~ .compos__info {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.compos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .compos {
      margin-left: -1.07143rem;
      z-index: 2; } }
  .compos__btn {
    min-width: 6.42857rem;
    height: 6.42857rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f08c33;
    border-radius: 0.21429rem;
    cursor: pointer; }
    .compos__btn--icon {
      width: 3.21429rem;
      height: 3.21429rem;
      fill: white;
      margin-bottom: 0.78571rem; }
    .compos__btn--title {
      color: #ffffff;
      font-family: 'Gagalin', Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: 400; }
  .compos__info {
    position: relative;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.21429rem;
    width: 19.28571rem;
    height: 23.92857rem;
    background-color: rgba(255, 255, 255, 0.91);
    padding-left: 1.78571rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    @media screen and (max-width: 768px) {
      .compos__info {
        width: 22.85714rem;
        height: 23.92857rem; } }
    @media screen and (max-width: 480px) {
      .compos__info {
        width: 100%;
        padding-left: 5%; } }
  .compos__table {
    width: 16.42857rem;
    height: 20.71429rem; }
    @media screen and (max-width: 480px) {
      .compos__table {
        max-width: 16.42857rem; } }
  .compos__item {
    color: #2f3234;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 0.71429rem; }
    .compos__item--icon {
      width: 3.21429rem;
      height: 3.21429rem; }
      .compos__item--icon--beef {
        fill: #e25028; }
      .compos__item--icon--buns {
        fill: #f8b43a; }
      .compos__item--icon--salad {
        fill: #8ac03e; }
      .compos__item--icon--sauce {
        fill: #e25028; }
      .compos__item--icon--cucumber {
        fill: #8ac03e; }
      .compos__item--icon--cheese {
        fill: #f8b43a; }
    .compos__item td {
      font-weight: 500; }
    .compos__item td:last-child {
      font-weight: 300; }
  .compos__X {
    display: none; }
    @media screen and (max-width: 768px) {
      .compos__X {
        display: block;
        width: 1.42857rem;
        height: 1.42857rem;
        position: absolute;
        right: 0;
        top: 0;
        margin: 1.42857rem;
        z-index: 1; } }
    @media screen and (max-width: 480px) {
      .compos__X {
        margin-right: 3%; } }
    .compos__X--img {
      min-width: 100%;
      max-height: 100%; }

.kkal {
  position: absolute;
  left: 0;
  bottom: 0; }
  @media screen and (max-width: 768px) {
    .kkal {
      right: 0;
      top: 0;
      left: auto;
      bottom: auto; } }
  @media screen and (max-width: 480px) {
    .kkal {
      margin-right: -1.07143rem; } }
  .kkal--icon {
    width: 4.28571rem;
    height: 4.28571rem;
    fill: #ffffff;
    opacity: 0.5; }
  .kkal--info {
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Gagalin', Helvetica, sans-serif;
    font-size: 1.42857rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -2.85714rem;
    margin-left: 0.21429rem;
    text-align: center; }
    .kkal--info span {
      font-size: 1rem; }

.team {
  background-image: url(../img/bg/bg-team.jpg);
  background-color: #c0afaa;
  position: relative; }
  .team__block {
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(47, 50, 52, 0.91);
    padding-left: 7rem;
    padding-right: 0.71429rem;
    padding-top: 8.07143rem; }
    @media screen and (max-width: 768px) {
      .team__block {
        left: 0;
        width: 100%;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .team__content {
    height: 400px; }
    @media screen and (max-width: 768px) {
      .team__content {
        min-width: 100%; } }

.team-acco {
  margin-top: 3.92857rem; }
  @media screen and (max-width: 768px) {
    .team-acco {
      max-width: 23.57143rem;
      margin: 4.28571rem auto 0 auto; } }
  @media screen and (max-width: 480px) {
    .team-acco {
      margin-top: 2.85714rem; } }
  .team-acco__item {
    margin-bottom: 2.5rem; }
  .team-acco__trigger {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 1.07143rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease; }
    @media screen and (max-width: 768px) {
      .team-acco__trigger {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1.78571rem; } }
  .team-acco__content-wrap {
    height: 0;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .team-acco__content-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .team-acco__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 23.57143rem; }
    @media screen and (max-width: 768px) {
      .team-acco__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 50%; } }
    @media screen and (max-width: 480px) {
      .team-acco__content {
        min-width: 75%;
        height: 13.92857rem; } }
  .team-acco__photo {
    width: 7.14286rem;
    height: 7.14286rem;
    border-radius: 50%;
    overflow: hidden; }
  .team-acco__photo-img {
    min-width: 100%;
    max-height: 100%; }
  .team-acco__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.71429rem;
    margin-left: 1.5rem;
    width: 15.71429rem; }
    @media screen and (max-width: 768px) {
      .team-acco__text {
        text-align: center;
        margin-left: 0;
        margin-top: 1.07143rem;
        min-width: 100%; } }
    @media screen and (max-width: 480px) {
      .team-acco__text {
        min-width: 100%; } }
  .team-acco__title {
    font-weight: 700;
    margin-bottom: 1.07143rem; }
  .team-acco__desc {
    font-weight: 300;
    line-height: 1.71429rem;
    max-width: 23.57143rem; }

.team-acco__trigger:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 0.57143rem solid #f9b43b;
  margin-right: 0.57143rem;
  -webkit-transform: translateY(40%) rotate(0deg);
  -ms-transform: translateY(40%) rotate(0deg);
  transform: translateY(40%) rotate(0deg);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.team-acco__item--active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__item--active .team-acco__trigger::before {
    -webkit-transform: translateY(-20%) rotate(180deg);
    -ms-transform: translateY(-20%) rotate(180deg);
    transform: translateY(-20%) rotate(180deg); }

.team-acco__item--active .team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-acco__item--active .team-acco__content-wrap {
  height: 8.57143rem; }
  @media screen and (max-width: 768px) {
    .team-acco__item--active .team-acco__content-wrap {
      height: 15rem;
      margin-bottom: 1.42857rem; } }

/*ОТЗЫВЫ*/
.reviews {
  background-color: #cfd8dc; }
  .reviews__list {
    min-height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .reviews__item {
    width: 25%;
    height: 50%;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .reviews__item {
        width: 50%;
        height: 25%; } }

.review {
  width: 100%;
  height: 100%;
  position: relative; }
  .review__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50%;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .review__hover {
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background: rgba(28, 28, 28, 0.77);
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1.42857rem; }
    @media screen and (max-width: 768px) {
      .review__hover {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (max-width: 480px) {
      .review__hover {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .review__name {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: .1em; }
    @media screen and (max-width: 768px) {
      .review__name {
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .review__name {
        font-size: 1.57143rem; } }
  .review__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.71429rem;
    margin-bottom: 1.07143rem; }
    @media screen and (max-width: 768px) {
      .review__text {
        text-align: center;
        font-size: 0.85714rem;
        line-height: 1.5; } }
    @media screen and (max-width: 480px) {
      .review__text {
        font-size: 0; } }

.review:hover .review__hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

@media screen and (min-width: 769px) {
  .button__read {
    display: none; } }

@media screen and (max-width: 768px) {
  .button__read {
    display: none; } }

@media screen and (max-width: 480px) {
  .button__read {
    display: block; } }

.button__more:after {
  width: 9rem;
  height: 2.5rem;
  content: "Подробнее"; }
  @media screen and (max-width: 480px) {
    .button__more:after {
      content: "Читать отзыв"; } }

.modal_form {
  width: 33.57143rem;
  height: 18.21429rem;
  border-radius: 0.21429rem;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -10.71429rem;
  margin-left: -16.78571rem;
  display: none;
  opacity: 0;
  z-index: 10;
  padding: 2.14286rem 1.42857rem;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.71429rem; }
  @media screen and (max-width: 768px) {
    .modal_form {
      margin-left: -30%;
      width: 60%;
      height: auto; } }
  @media screen and (max-width: 480px) {
    .modal_form {
      margin-left: -45%;
      width: 90%; } }

.modal_form .modal_close {
  width: 1.07143rem;
  height: 1.07143rem;
  position: absolute;
  top: 0.71429rem;
  right: 0.71429rem;
  cursor: pointer;
  display: block;
  margin: 1.42857rem; }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #2f3234;
  opacity: 0.9;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.modal_form_name {
  font-family: 'Gagalin', Helvetica, sans-serif;
  margin-bottom: 1.78571rem; }

.menu {
  background-image: url("../img/bg/bg-menu/bg-menu.jpg");
  background-color: #b5babd; }
  @media screen and (max-width: 480px) {
    .menu {
      background-image: url("../img/bg/bg-menu/bg-menu-phone.jpg");
      background-position: left; } }
  .menu__title {
    position: absolute;
    left: 6.71429rem;
    top: 8rem; }
    @media screen and (max-width: 768px) {
      .menu__title {
        left: 5%;
        top: 10%; } }

@media screen and (min-width: 769px) {
  .menu-acco__x {
    display: none; } }

@media screen and (max-width: 768px) {
  .menu-acco__x {
    display: none; } }

.menu-acco {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .menu-acco {
      width: 100%; } }
  .menu-acco__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .menu-acco__trigger {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 5.71429rem; }
    .menu-acco__trigger-meat {
      background-image: url("../img/content/bg-meat.jpg"); }
    .menu-acco__trigger-veg {
      background-image: url("../img/content/bg-veg.jpg"); }
    .menu-acco__trigger-diet {
      background-image: url("../img/content/bg-diet.jpg"); }
  .menu-acco__title {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 2.85714rem;
    font-weight: 400;
    line-height: 5.71429rem;
    -webkit-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    transform-origin: left top 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    top: 90%;
    position: absolute;
    width: 35.71429rem; }
    @media screen and (max-width: 768px) {
      .menu-acco__title {
        top: 90%; } }
    @media screen and (max-width: 480px) {
      .menu-acco__title {
        z-index: 10; } }
  .menu-acco__content {
    width: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(47, 50, 52, 0.91);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .menu-acco__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.71429rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 2.14286rem;
    padding-left: 7%;
    padding-right: 7%; }

@media screen and (max-width: 480px) {
  .menu-acco__item--active {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; } }

@media screen and (max-width: 480px) {
  .menu-acco__item--active .menu-acco {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; } }

.menu-acco__item--active .menu-acco__trigger {
  width: 5.71429rem; }
  @media screen and (max-width: 768px) {
    .menu-acco__item--active .menu-acco__trigger {
      min-width: 5.71429rem; } }
  @media screen and (max-width: 480px) {
    .menu-acco__item--active .menu-acco__trigger {
      z-index: 20;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-width: 5.71429rem;
      width: 15%; } }

.menu-acco__item--active .menu-acco__title {
  color: #f9b43b; }
  @media screen and (max-width: 480px) {
    .menu-acco__item--active .menu-acco__title {
      z-index: 20;
      position: absolute;
      top: 90%;
      -webkit-transform-origin: left top 0;
      -ms-transform-origin: left top 0;
      transform-origin: left top 0; } }

.menu-acco__item--active .menu-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38.57143rem; }
  @media screen and (max-width: 768px) {
    .menu-acco__item--active .menu-acco__content {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .menu-acco__item--active .menu-acco__content {
      width: 85%;
      z-index: 20; } }

@media screen and (max-width: 480px) {
  .menu-acco__item--active .menu-acco__x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 20;
    margin-bottom: 0.85714rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

.menu-acco__item--active .menu-acco__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.menu-acco__item--active .menu-acco__pic {
  display: inline-block;
  width: 1.42857rem;
  height: 1.42857rem; }

.menu-acco__item--active .menu-acco__img {
  min-width: 100%;
  max-height: 100%; }

.delivery {
  background-image: url("../img/bg/bg-texture-delivery.png"), url("../img/bg/bg-delivery.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .delivery h1 {
      margin-bottom: 5%; } }
  .delivery__form {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 3.57143rem; }
    @media screen and (max-width: 768px) {
      .delivery__form {
        margin: 0; } }
    @media screen and (max-width: 480px) {
      .delivery__form {
        margin: 0; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .form__left {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .form__left {
        width: 70%;
        margin: 0; } }
    @media screen and (max-width: 480px) {
      .form__left {
        width: 100%; } }
  .form__right {
    width: 50%;
    margin-left: 1.42857rem; }
    @media screen and (max-width: 768px) {
      .form__right {
        width: 70%;
        margin: 0; } }
    @media screen and (max-width: 480px) {
      .form__right {
        width: 100%; } }
  .form__row {
    margin-bottom: 1.42857rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__block {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 1.35714rem; }
    .form__block:last-child {
      margin-right: 0; }
    .form__block span {
      margin-right: 1.42857rem; }
      @media screen and (max-width: 480px) {
        .form__block span {
          margin-right: 0.71429rem; } }
  .form__reset {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  .form__input {
    margin-top: 0.71429rem;
    padding: 0.71429rem 1.42857rem;
    background-color: white;
    border: 0.07143rem solid #d1cfcb;
    border-radius: 0.21429rem;
    width: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.71429rem;
    color: #2f3234;
    height: 2.5rem; }
  .form__textarea {
    max-height: 8.21429rem;
    margin-top: 0.71429rem;
    padding: 0.71429rem 1.42857rem;
    background-color: white;
    border: 1px solid #d1cfcb;
    border-radius: 0.21429rem;
    width: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.71429rem;
    color: #2f3234; }
  .form__radio, .form__checkbox {
    cursor: pointer;
    margin-right: 0.71429rem;
    border: none; }

.form__buttons {
  margin-right: 1.42857rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__block--radio {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 0.85714rem;
  margin-right: 1.42857rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -0.71429rem; }

.form__block--radio input {
  position: absolute;
  display: none;
  cursor: pointer; }

.radio {
  position: absolute;
  top: 0;
  left: 0.71429rem;
  width: 1.07143rem;
  height: 1.07143rem;
  border-radius: 0.53571rem;
  background-color: #ffffff; }

.radio:after {
  content: "";
  position: absolute;
  opacity: 0; }

.form__block--radio input:checked ~ .radio:after {
  opacity: 1; }

.form__block--radio .radio:after {
  top: 0.28571rem;
  left: 0.28571rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #e45028;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.form__block--checkbox {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 0.85714rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -0.71429rem; }

.form__block--checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0.71429rem;
  height: 1.07143rem;
  width: 1.07143rem;
  background-color: #ffffff; }

.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0; }

.form__block--checkbox input:checked ~ .checkmark:after {
  opacity: 1; }

.form__block--checkbox .checkmark:after {
  left: 0.35714rem;
  top: 0.07143rem;
  width: 0.21429rem;
  height: 0.57143rem;
  border: solid #e45028;
  border-width: 0 0.14286rem 0.14286rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.contacts {
  background-image: url("../img/content/map.png"); }
  .contacts__footer {
    position: absolute;
    bottom: 0;
    height: 4.28571rem;
    min-width: 100%;
    background-image: url("../img/content/footer-texture.png");
    background-size: cover; }
    @media screen and (max-width: 480px) {
      .contacts__footer {
        height: 8.21429rem; } }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5.71429rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .footer-content {
      padding: 0 1.71429rem; } }
  @media screen and (max-width: 480px) {
    .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      padding: 0 0.71429rem; } }
  .footer-content__info {
    width: 50%;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: 1rem; }
    @media screen and (max-width: 768px) {
      .footer-content__info {
        font-size: 0.92857rem; } }
    @media screen and (max-width: 480px) {
      .footer-content__info {
        width: 100%; } }
  .footer-content__address {
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 0.5rem; }
    @media screen and (max-width: 480px) {
      .footer-content__address {
        margin-top: 1.42857rem;
        margin-bottom: 1.07143rem;
        line-height: 0.85714rem; } }
  .footer-content__tel {
    font-weight: 700;
    color: #e45028;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 480px) {
      .footer-content__tel {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer-content__tel--icon {
    width: 1.07143rem;
    height: 1.07143rem;
    margin-right: 0.35714rem; }
  .footer-content__tel--svg {
    width: inherit;
    max-height: 100%;
    fill: #e45028; }
  .footer-content__soc {
    width: 50%;
    text-align: right; }
    @media screen and (max-width: 480px) {
      .footer-content__soc {
        width: 100%;
        text-align: center;
        margin: 1.42857rem 0; }
        .footer-content__soc :first-child {
          margin-left: 0; } }
  .footer-content__soc--link {
    width: 1.42857rem;
    height: 1.42857rem;
    margin-left: 1.42857rem;
    display: inline-block; }
  .footer-content__soc--icon {
    color: white;
    min-width: 100%;
    max-height: 100%; }

/*БОКОВАЯ ПАНЕЛЬ*/
.fixed_nav {
  position: fixed;
  top: 6.42857rem;
  right: 2.85714rem;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */