@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu/Ubuntu-B.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url("../fonts/Lifehack Medium.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url("../fonts/Gagalin/Gagalin-Regular.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100%;
}

.maincontent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    height: 100%;
}

/* ПРИВЕТСТВИЕ */
.welcome {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bg-texture.png") no-repeat center center fixed #000000;
    background-size: cover;
}

.container {
    height: 100%;
    width: 940px;
    display: flex;
    position: relative;
    flex-direction: column;
    /*border: 2px solid #fc5900;*/
}

/* HEADER */
.welcome__header {

    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 85px;
    align-items: center;
    margin-top: 10px;
}

.menu {
    display: flex;
    color: #ffffff;
}

.logo {
    display: block;
    width: 98px;
    height: 79px;
}

.logo__img {
    min-width: 100%;
    min-height: 100%;
}

.header__menu {
    display: flex;
    align-items: center;
}

.menu__item {
    padding-left: 5px;
    list-style-type: disc;
    margin-left: 30px;
}

li.menu__item:first-child {
    list-style: none;
}

.button {
    border-radius: 3px;
    padding: 12px 17px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.button__action_order {
    background-color: #e45028;
    margin-left: 15px;
}

.menu__link {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

/* ГЛАВНОЕ */

.welcome__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.welcome-content {
    display: flex;
}

.content__left {
    width: 50%;
    min-height: 100%;
}

.content__right {
    width: 50%;
    min-height: 100%;
}

.left__pic {
    max-width: 100%;
    max-height: 100%;
}

.right__text {
    width: 415px;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.right__title {
    color: #f9b43b;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 85px;
    text-transform: uppercase;
    width: 415px;
    height: 64px;
}

.right__description {
    width: 415px;
    height: 166px;
    color: #ffffff;
    font-family: Lifehack, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: -1.63px;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*БОКОВАЯ ПАНЕЛЬ*/

.fixed_nav {
    position: fixed;
    top: 90px;
    right: 40px;
    margin: 0;
    padding: 0;
}

.nav {
    width: 25px;
    height: 170px;
    padding-left: 10px;
}

.nav li {
    margin-bottom: 5px;
    list-style-type: none;
}

.nav__link a {
    color: #ffffff;

}

/* ARROW */
.arrow {
position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}
.arrow__scroll {
    width: 29px;
    height: 14px;
}

.scroll__img {
    min-width: 100%;
    min-height: 100%;
}

/* МЫ ЛУЧШИЕ */

.best {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: url("../img/bg-we.png") no-repeat center center fixed #000000;
    background-size: cover;
}

.best__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.we__best {
    height: 100px;
    margin-bottom: 20px;
}

.we__text {
    color: #2f3234;
    font-family: 'Gagalin', Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
}

.meat, .hand, .natural {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 290px;
}

.we__rules {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 260px;
}

.meat__img, .hand__img, .natural__img {

}

.meat__header, .hand__header, .natural__header {
    color: #2f3234;
    font-family: Lifehack, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.6px;
    text-align: center;
}

.meat__text, .hand__text, .natural__text {
    opacity: 0.8;
    color: #2f3234;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

/*ОТЗЫВЫ*/
.review {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #cfd8dc;
}

.review__line1 {
    min-height: 50%;
    min-width: 100%;
    display: flex;
}

.review__line2 {
    display: flex;
    min-height: 50%;
    min-width: 100%;
}

.client1, .client2, .client3, .client4, .client5, .client6, .client7, .client8 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}



/*.client1 {*/
/*background: url("../img/photo-1.png") no-repeat center center fixed;*/
/*background-size: cover;*/
/*height: 325px;*/
/*}*/

.client1_header, .client2_header, .client3_header, .client4_header, .client5_header, .client6_header, .client7_header, .client8_header {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.11px;
    letter-spacing: .1em;
    margin-bottom: 10px;
}
.client1__text, .client2__text, .client3__text, .client4__text, .client5__text, .client6__text, .client7__text, .client8__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}
.client1__button {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    width: 110px;
    height: 35px;
    background-color: #2f3234;
}

