/* МЫ ЛУЧШИЕ */

.advantages {
  background-image: url("../img/bg/bg-we.png");

    //@include tablet{
    //  background-image: url("");
    //}

    @include phone {
    background-image: url("../img/bg/phone/bg-adv.png");
  }

  .section__title {
    margin-bottom: rem(25px);
  }
  .container {
    justify-content: center;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    margin-left: rem(-20px);

    @include tablet{
      display: flex;
      justify-content: center;
    }
    @include phone{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__item {
    margin-left: rem(20px);
    margin-bottom: rem(20px);
    width: 60%;
    @include tablet{
      width: 30%;
    }
    @include phone{
      width: 90%;
    }

   }
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone{
    flex-direction: row;
  }

  &__icon {
    width: rem(100px);
    height: rem(100px);
    margin-bottom: rem(30px);
    display: flex;
  }

    &__info {
    text-align: center;

      @include phone{
        text-align: left;
        margin-left: rem(28px);
      }
  }
  &__title {
    font-family: Lifehack, Helvetica, sans-serif;
    color: $black;
    font-weight: 300;
    font-size: rem(24px);
    line-height: rem(28px);
    letter-spacing: rem(-0.6px);
    margin-bottom: rem(20px);
  }

  &__desc {
    opacity: 0.8;
    color: $black;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
  }
}


