.contacts {
  background-image: url("../img/content/map.png");

  &__footer {
    position: absolute;
    bottom: 0;
    height: rem(60px);
    min-width: 100%;
    background-image: url("../img/content/footer-texture.png");
    background-size: cover;

    @include phone {
      height: rem(115px);
    }
  }
}

.footer-content {
  display: flex;
  padding: 0 rem(80px);
  align-items: center;
  height: 100%;

  @include tablet {
    padding: 0 rem(24px);
  }
  @include phone {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 rem(10px);
  }

  &__info {
    width: 50%;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: rem(14px);

    @include tablet {
      font-size: rem(13px);
    }
    @include phone {
      width: 100%;
    }
  }

  &__address {
    color: #ffffff;
    font-weight: 300;
    margin-bottom: rem(7px);

    @include phone {
      margin-top: rem(20px);
      margin-bottom: rem(15px);
      line-height: rem(12px);
    }
  }

  &__tel {
    font-weight: 700;
    color: $salmon-red;
    display: flex;

    @include phone {
      justify-content: center;
    }
  }

  &__tel--icon {
    width: rem(15px);
    height: rem(15px);
    margin-right: rem(5px);
  }

  &__tel--svg {
    width: inherit;
    //min-width: 100%;
    max-height: 100%;
    fill: $salmon-red;
  }

  &__soc {
    width: 50%;
    text-align: right;

    @include phone {
      width: 100%;
      text-align: center;
      margin: rem(20px) 0;
      :first-child {
        margin-left: 0;
      }
    }
  }

  &__soc--link {
    width: rem(20px);
    height: rem(20px);
    margin-left: rem(20px);
    display: inline-block;
  }

  &__soc--icon {
    color: white;
    min-width: 100%;
    max-height: 100%;
  }
}


