.delivery {
  background-image: url('../img/bg/bg-texture-delivery.png'), url('../img/bg/bg-delivery.png');
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include tablet {
      margin-bottom: 5%;
    }
  }

  &__form {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: rem(14px);
    margin-top: rem(50px);
    margin-left: 2%;
    margin-right: 2%;
    @include tablet{
      margin: 0;
    }
    @include phone{
     margin: 0;
    }
  }
}

.form {
  display: flex;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &--left {
    width: 50%;
    margin-right: rem(10px);

    @include tablet{
      width: 70%;
      margin: 0;
    }

    @include phone{
      width: 100%;
    }
  }
  &--right {
    width: 50%;
    margin-left: rem(10px);

    @include tablet{
      width: 70%;
      margin: 0;
    }
    @include phone{
      width: 100%;
    }
  }

  &__row {
    margin-bottom: rem(20px);
    display: flex;
  }

  &__block {
    display: block;
    flex: 1;
    margin-right: rem(19px);

    &:last-child {
      margin-right: 0;
    }
    span {
      margin-right: rem(20px);
      @include phone{
        margin-right: rem(10px);
      }
    }
    button {
      margin-right: rem(20px);
    }
  }
  &__reset {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__input {
    margin-top: rem(10px);
    padding: rem(10px) rem(20px);
    background-color: white;
    border: rem(1px) solid #d1cfcb;
    border-radius: rem(3px);
    width: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    color: $black;
    height: rem(35px);
  }

  &__textarea {
    max-height: rem(115px);
    margin-top: rem(10px);
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #d1cfcb;
    border-radius: 3px;
    width: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $black;
  }

  &__radio, &__checkbox {
    cursor: pointer;
    margin-right: 10px;
    border: none;
    }
}








