.delivery {
  background-image: url('../img/bg/bg-texture-delivery.png'), url('../img/bg/bg-delivery.png');
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include tablet {
      margin-bottom: 5%;
    }
  }

  &__form {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: rem(14px);
    margin-top: rem(50px);
    @include tablet{
      margin: 0;
    }
    @include phone{
     margin: 0;
    }
  }
}

.form {
  display: flex;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    width: 50%;

    @include tablet{
      width: 70%;
      margin: 0;
    }

    @include phone{
      width: 100%;
    }
  }
  &__right {
    width: 50%;
    margin-left: rem(20px);

    @include tablet{
      width: 70%;
      margin: 0;
    }
    @include phone{
      width: 100%;
    }
  }

  &__row {
    margin-bottom: rem(20px);
    display: flex;
  }

  &__block {
    display: block;
    flex: 1;
    margin-right: rem(19px);

    &:last-child {
      margin-right: 0;
    }
    span {
      margin-right: rem(20px);
      @include phone{
        margin-right: rem(10px);
      }
    }
    button {
      margin-right: rem(20px);
    }
  }
  &__reset {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__input {
    margin-top: rem(10px);
    padding: rem(10px) rem(20px);
    background-color: white;
    border: rem(1px) solid #d1cfcb;
    border-radius: rem(3px);
    width: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    color: $black;
    height: rem(35px);
  }

  &__textarea {
    max-height: rem(115px);
    margin-top: rem(10px);
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #d1cfcb;
    border-radius: 3px;
    width: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $black;
  }

  &__radio, &__checkbox {
    cursor: pointer;
    margin-right: 10px;
    border: none;
    }
}

//radio
.form__block--radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.form__text--radio {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  display: inline-block;
  margin-right: rem(21px) ;
}
.form__text--radio:before {
  content: '';
  position: absolute;
  top: -3rem(px);
  left: 0;
  width: rem(15px);
  height: rem(15px);
  border: 0;
  border-radius: 50%;
  background: #ffffff;
}
.form__text--radio:after {
  content: '';
  position: absolute;
  top: rem(4px);
  left: rem(4px);
  width: rem(7px);
  height: rem(7px);
  border-radius: 50%;
  background: $salmon-red;
  transition: .3s;
  opacity: 0;
}
.form__block--radio input:checked + .form__text--radio:after {
  opacity: 1;
}

//checkbox
.form__block--checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.form__text--checkbox {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  display: inline-block;
  margin-right: rem(21px) ;
}
.form__text--checkbox:before {
  content: '';
  position: absolute;
  top: -3rem(px);
  left: 0;
  width: rem(15px);
  height: rem(15px);
  border: 0;
  background: #ffffff;
}
.form__text--checkbox:after {
  //content: '';
  //position: absolute;
  //top: 0;
  //left: rem(3px);
  //background: url('../icons/flag.png') no-repeat 50%;
  //background-size: contain;
  //opacity: 0;
  //
  content: '\2713';
  position: absolute;
  top: 0;
  left: rem(2px);
  transition: .3s;
  opacity: 0;
  color: $salmon-red;
}
.form__block--checkbox input:checked + .form__text--checkbox:after {
  opacity: 1;
}










