.menu {
  background-image: url(../img/bg/bg-menu.jpg);
  background-color: #b5babd;

  &__title {
    position: absolute;
    left: 94px;
    top: 112px;
  }
}

.menu-accordeon {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;

  &__item {
    min-width: 5%;
    max-width: 700px;
    display: flex;
    justify-content: flex-end;
  }

  &__trigger {

    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;

    &-meat {
      background-image: url("../img/content/bg-meat.jpg");
    }
    &-veg {
      background-image: url("../img/content/bg-veg.jpg");
    }
    &-diet {
      background-image: url("../img/content/bg-diet.jpg");
    }

  }

  &__title {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 80px;
    transform-origin: left top 0;
    transform: rotate(-90deg);
    transition: all .1s ease;
    top: 90%;
    position: absolute;
  }

  &__content {
    width: 0;
    overflow: hidden;
    display: flex;
  }

  &__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(47, 50, 52, 0.91);
    padding-top: 12%;
    padding-left: 7%;
    padding-right: 7%;
  }
}

.menu-accordeon__item--active {

  .menu-accordeon__trigger {

    min-width: 80px;
  }

  .menu-accordeon__title {
    color: $orange;
  }
  .menu-accordeon__content {
    display: flex;
  }

  .menu-accordeon__content {
    width: auto;
  }
}

