.menu {
  background-image: url(../img/bg/bg-menu.jpg);
  background-color: #b5babd;

  &__title {
    margin-top: 112px;
    margin-left: 94px;
    position: absolute;
    left: 0;

  }

  &__accordeon {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
  }

  &__item {
    height: 100%;
    //border: 2px solid #db1300;
    position: relative;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $black;
  }

  &__item-formeat {
    background-image: url("../img/content/formeat.png");
  }
  &__item-forveg {
    background-image: url("../img/content/forveg.png");
  }
  &__item-fordiet {
    background-image: url("../img/content/fordiet.png");
  }

  &__link {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 80px;
    z-index: 20;
    cursor: pointer;
    position: absolute;
    width: 500px;
    top: 90%;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    transition: .1s ease-in-out;
  }

  &__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    //border: 2px solid #14efff;
    overflow: hidden;
    width: 0;
    z-index: 10;
    position: relative;
    transition: width 0.3s ease-in-out;
    display: flex;
    background-color: $black;
  }
}

.menu__input {
  display: none;
}

.menu__input:checked + .menu__link,
.menu__input:checked + .menu__link:hover {
  color: $orange;

}

.menu__input:checked ~ .menu__text {
  transition: width 0.3s ease-in-out;
  width: 744px;
}

