/*ОТЗЫВЫ*/
.reviews {
  background-color: #cfd8dc;
  position: relative;

  &__list {
    min-height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
    height: 50%;
    overflow: hidden;

    @include tablet {
      width: 50%;
      height: 25%;
    }

  }
}

.review {
  width: 100%;
  height: 100%;
  position: relative;

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50%;
    background-size: cover;
    filter: grayscale(100%);
  }

  &__hover {
    opacity: 0;
    transition: all .5s ease-in-out;
    background: rgba(28, 28, 28, 0.77);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 rem(20px);

    @include tablet {
      justify-content: center;
      align-items: center;
    }

    @include phone {
      justify-content: center;
      align-items: center;
    }
  }

  &__name {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: rem(13px);
    font-weight: 400;
    line-height: rem(28px);
    letter-spacing: .1em;
    @include tablet {
      text-align: center;
    }
    @include phone {
      font-size: rem(22px);
    }
  }

  &__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: rem(13px);
    font-weight: 300;
    line-height: rem(24px);
    margin-top: rem(15px);
    margin-bottom: rem(10px);

    @include tablet {
      text-align: center;
      font-size: rem(12px);
      line-height: 1.5;
    }

    @include phone {
      font-size: 0;
    }
  }
}

.review:hover .review__hover {
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease-in;
}
//
//.button__read {
//
//  @media screen and (min-width: 769px) {
//    display: none;
//  }
//  @include tablet {
//    display: none;
//  }
//  @include phone {
//    display: block;
//  }
//}

.button__more:after {
  width: rem(126px);
  height: rem(35px);
  content: "Подробнее";
  @include phone {
    content: "Читать отзыв";
  }
}

// Модальное окно
.modal-form {
  width: rem(470px);
  height: rem(255px);
  border-radius: rem(3px);
  background: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: rem(-150px);
  margin-left: rem(-235px);
  display: none;
  opacity: 0;
  z-index: 3;
  padding: rem(20px) rem(15px);
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: rem(14px);
  line-height: rem(24px);
  will-change: auto;
  @include tablet {
    margin-left: -30%;
    width: 60%;
    height: auto;
  }

  @include phone {
    margin-left: -45%;
    width: 90%;
  }
}

.modal-form__name {
  font-family: 'Gagalin', Helvetica, sans-serif;
  margin-bottom: rem(25px);
}

