.team {
  background-image: url(../img/bg/bg-team.jpg);
  background-color: #c0afaa;

  &__block {
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(47, 50, 52, 0.91);
  }
  &__content {
    //border: 2px solid yellow;
    margin-top: 113px;
    margin-left: 98px;
    margin-right: 95px;
  }

  &__accordeon {
    margin-top: 55px;
    height: 450px;
    overflow: hidden;
    padding-left: 17px;
  }

  &__item {
    margin-bottom: 35px;
    list-style-image: url(../icons/polygon.svg);
  }

  &__link {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    z-index: 20;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
    width: 200px;
    transition: .1s ease-in-out;
  }

  &__info {
    overflow: hidden;
    height: 0;
    z-index: 10;
    position: relative;
    transition: height 0.3s ease-in-out;
    display: flex;
  }

  &__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__description {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;

    margin-left: 21px;
    width: 230px;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 300;
    line-height: 24px;
  }
}

.team__input:checked + .team__link {
  color: $orange;
}

.team__input {
  display: none;
}

.team__input:checked ~ .team__info {
  transition: height 0.3s ease-in-out;
  height: 100px;
}