.team {
  background-image: url(../img/bg/bg-team.jpg);
  background-color: #c0afaa;
  position: relative;

  &__block {
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(47, 50, 52, 0.91);
    padding-left: 98px;
    padding-right: 95px;
    padding-top: 113px;
  }
}

.team-accordeon {
  margin-top: 55px;

  &__item {
    margin-bottom: 35px;
    position: relative;
  }

  &__trigger {
    color: #ffffff;
    font-family: Gagalin, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    transition: all .1s ease;
  }

  &__content {
    height: 0;
    overflow: hidden;
    display: flex;
  }

  &__avatar {
    width: 100px;
    height: 100px;
  }

  &__avatar-img {
    min-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }

  &__text {
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 21px;
    width: 230px;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__description {
    font-weight: 300;
    line-height: 24px;
  }
}

.team-accordeon__trigger:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-width: 0;
  border-top-color: $orange;
  margin-right: 8px;
}

.team-accordeon__item--active {
  .team-accordeon__trigger {
    color: $orange;

    &:before {
      transform: rotate(180deg);
    }
  }

  .team-accordeon__content {
    display: flex;
  }

  .team-accordeon__content {
    height: auto;
  }
}