@charset "UTF-8";
/*БОКОВАЯ ПАНЕЛЬ*/
.fixed_nav {
  position: fixed;
  top: 90px;
  right: 40px;
  margin: 0;
  padding: 0; }

.nav {
  width: 25px;
  height: 170px;
  padding-left: 10px; }

.nav li {
  margin-bottom: 5px;
  list-style-type: none; }

.nav__link a {
  color: #ffffff; }
