.wrapper {
  position: relative;
  width: 100%;
  //min-height: 100%; //влияет на Reviews
  height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: rem(940px);
  width: 95%;
  display: flex;
  position: relative;
  flex-direction: column;

  @include tablet() {
    max-width: 98%;
    min-height: rem(544px);
  }

  @include phone() {
    max-width: 98%;
    min-height: rem(544px);
  }
}

.maincontent {
  height: 100%;
  min-height: 650px;
  transition: 1s;
  will-change: transform;
  position: relative;
}

.section {
  height: 100%;
  min-height: rem(650px);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  @include tablet{
    min-height: initial;
  }

  @include phone {
    min-width: rem(320px);
  }

  &__title {
    font-family: Gagalin, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: rem(72px);
    display: flex;

    &--orange {
      color: $orange;
    }

    &--black {
      color: $black;
    }
    &--white {
      color: white;
    }
    &--center {
      justify-content: center;
      text-align: center;
    }

    @include tablet {
      justify-content: center;
      font-size: rem(64px);

    }
    @include phone {
      justify-content: center;
      font-size: rem(50px);
    }
  }
}

.button {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: rem(3px);
  padding: rem(13px) rem(16px);
  border: none;
  cursor: pointer;
  color: #ffffff;
  transition: .5s;
  display: inline-block;

  @include tablet {
    padding: rem(12px) rem(15px);
    font-size: rem(12px);
  }

  &_action_order {
    background-color: $salmon-red;
    &:hover {
      background-color: darken($salmon-red, 10%);
    }
  }

  &_color_black {
    background-color: $black;
    &:hover {
      background-color: darken($black, 10%);
    }
  }
}

