.wrapper {
  height: 100%;
}

.container {
  width: 940px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  &__title {
    font-family: Gagalin, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 72px;
    display: flex;

    &--orange {
      color: $orange;
    }

    &--black {
      color: $black;
    }
    &--white {
      color: white;
    }
    &--center {
      justify-content: center;
    }
  }
}

.button {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  padding: rem(13px) rem(16px);
  border: none;
  cursor: pointer;
  color: #ffffff;
  transition: .5s;

  &_action_order {
    background-color: $salmon-red;
    &:hover {
      background-color: darken($salmon-red, 10%);
    }
  }

  &_color_black {
    background-color: $black;
    &:hover {
      background-color: darken($black, 10%);
    }
  }
}